
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: white !important;
}

.home-body {
  /* background: linear-gradient(
      to bottom,
      #27374D,
      #000000
      )  */
      background: linear-gradient(
        to bottom,
        #000000,
        #000000
        ) 
}

.movie-page{
  background-color: #000000;
}

.bg-image {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blur-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 260px; 
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8),  rgba(0, 0, 0, 1));
  filter: blur(0px); 
} 


.custom-card{
  z-index: 1;
  margin-top: 35%;
  background-color: rgba(0, 0, 0, 0.5);
  width: 70%;
  display: flex;
  flex-direction: column;
  bottom: 0;
  /* align-items: center; */
}

.overflow-content{
  background-color: black;
}
/* Define your genre-button styles here */
.genre-button {
  display: inline-block;
  padding: 5px 10px;
  margin: 2px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: white;
}

[data-genre-id="28"] {
  background-color: #e74c3c; /* Action */
}

[data-genre-id="80"] {
  background-color: #3498db; /* Drama */
}

[data-genre-id="53"] {
  background-color: #2ecc71; /* Comedy */
}
/* Define more styles for other genre IDs */

/* rating */
.starRating {
  display: inline-block;
}

.starFilled {
  color: gold; /* Change this to your desired color */
}

.starEmpty {
  color: gray; /* Change this to your desired color */
}
