/* @tailwind base;
@tailwind components;
@tailwind utilities; */
/* global.css */

/* Include the base styles */
@import 'tailwindcss/base';

/* Include the component styles */
@import 'tailwindcss/components';


/* Include the utility classes */
@import 'tailwindcss/utilities';

body{
    background-color: rgb(71 85 105);
    color: rgb(255, 255, 255);
    padding: 4%;
} 

.home-page{
    display: grid;
    /* justify-content: center; */
    align-items: center;
}

.header{
    display: flex;
    justify-content:space-evenly;
    margin-bottom: 4%;
}

.heading{
    font-size: 40px;
}

.task{
    font-size: 25px;
    padding: 2%;
  
}


.new{
    display: grid;
    justify-content: center;
    align-items: center;
}

.input-box{
    align-items: center;
    justify-items: center;
    width: 100%;
    margin-top: 15%;
    color: black;
}

.buttons-div{
    display: flex;
    flex-direction: row;
    /* padding: 5%; */
    justify-content: space-between;
}

.custom-button{
    padding: 5%;
    font-size: 20px;
}

.new-button{
    padding-top: 5%;
    font-size: 20px;
}